<%- include('partials/header') %>

<div class="container mt-5">
<nav class="navbar navbar-expand-lg navbar-dark  ">
    <a class="navbar-brand " href="">Music Lyrics</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " href="/" >Home</a>
        </li>
       
        <li class="nav-item ">
            <a class="nav-link " href="#foot">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/music" >Lyrics</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="container " ></div>
  <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
  <br>
  <h5>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </h5>
  <br>
  <h3>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h3>
<h5>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</h5>
</div>


<footer id="foot" class="footer">
    <br>
    <br>
    <br>
    <a href="mailto:chaitrabhandalkar133@gmail.com" target="_blank"><i class="fa fa-envelope-o footer-icon" aria-hidden="true"></i></a>
    <a href="https://github.com/ChaitraBhandalkar" target="_blank" ><i class="fa fa-github footer-icon" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/chaitra_bhandalkar/" target="_blank"><i class="fa fa-instagram footer-icon" aria-hidden="true"></i></a>
    <a href="https://wa.me/+919880972911"  ><i class="fa fa-whatsapp footer-icon" aria-hidden="true"></i></a>
    
      <p>© Copyright N Chaitra Bhandalkar</p>
  
    </footer>



<%- include('partials/footer') %>