<%- include('partials/header') %>


<!--<div class="jumbotron centered">
  <p>hello</p>
</div>
-->
    
<section id="title">
    <div class="container-fluid ">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark  ">
        <a class="navbar-brand " href="">Music Lyrics</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link " href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/music" >Lyrics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/login" >login</a>
            </li>
          </ul>
        </div>
      </nav>



      <!-- Title -->
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h1 class="mainheading">Enjoy Singing Anytime Anywhere.</h1>
          <h3 style="padding-left:300px ;font-size: medium; color:rgb(206, 193, 176);">With the correct Lyrics.....</h3>
          <a role="button" href="/register" class="btn btn-lg btn-dark login-button"> Register</a>
          <a type="button"  href="/login" class="btn btn-lg btn-outline-light login-button"><i class="fas fa-key " aria-hidden="true"></i> login</a>
        </div>
        <div class="col-lg-6 col-md-12">
            <img class="title-image" src="images/76378-Music-Girl.jpg" alt="iphone-mockup">
          </div>
      </div>
    </div>

  </section>

  <footer id="footer">
    <a href="mailto:chaitrabhandalkar133@gmail.com" target="_blank"><i class="fa fa-envelope-o footer-icon" aria-hidden="true"></i></a>
    <a href="https://github.com/ChaitraBhandalkar" target="_blank" ><i class="fa fa-github footer-icon" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/chaitra_bhandalkar/" target="_blank"><i class="fa fa-instagram footer-icon" aria-hidden="true"></i></a>
    <a href="https://wa.me/+919880972911" target="_blank" ><i class="fa fa-whatsapp footer-icon" aria-hidden="true"></i></a>
    
      <p>© Copyright N Chaitra Bhandalkar</p>
  
    </footer>      
    

<%- include('partials/footer') %>




